.container {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  height: 64px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: #f0f0f05a;
  color: white;
  border: 1px;
  font-size: 18px;
  outline: none;
}

.input:hover {
  border: solid 1px #f6f6f6;
  background: transparent;
}
.input:focus {
  border: solid 1px #f6f6f6;
  background: transparent;
}
.input:hover ~ .floatingLabel {
  color: #f6f6f6;
  background: #000e39;
}
input:focus ~ .floatingLabel,
.input:not(:focus):valid ~ .floatingLabel {
  top: -15px;
  color: #f6f6f6;
  background: #000e39;
  padding: 0px 10px 0px 10px;
}
.input:not(:focus):valid {
  background: transparent;
  border: solid 1px #f6f6f6;
}

.floatingLabel {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #00071c;
  position: absolute;
  pointer-events: none;
  top: calc(50% - 11px);
  left: 20px;
  transition: all 0.1s ease;
}

@media screen and (max-width: 620px) {
  .floatingLabel {
    font-size: 15px;
    line-height: 20px;
    top: calc(50% - 10px);
  }
  .input {
    height: 50px;
  }
}
@media screen and (max-width: 490px) {
  .input {
    height: 35px;
    border-radius: 5px;
  }
}
