.menu {
  width: 100%;
  height: 100px;
  background: #000000bf;
  position: sticky;
  top: -1px;
  z-index: 10;
}
.menuItems {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.links {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.user {
  width: 48px;
  height: 48px;
  background: #525252;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user > img {
  width: 32px;
  height: 36px;
}
.menuItems > img {
  width: 60px;
}
.menu a {
  color: #a4a4a4;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
.menu a:hover {
  color: #f6f6f6;
}
.mobileMenu {
  display: none;
  width: 90%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.menuIcon {
  cursor: pointer;
}
.openedMenu {
  position: fixed;
  top: 49px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  background: rgb(37, 37, 99);
}
@media screen and (max-width: 880px) {
  .menuItems {
    width: 90%;
  }
  .menu a {
    font-size: 14px;
  }
}
@media screen and (max-width: 680px) {
  .menu {
    height: 50px;
  }
  .menuItems {
    width: 95%;
  }
  .menu a {
    font-size: 13px;
  }
}
@media screen and (max-width: 635px) {
  .menuItems {
    display: none;
  }
  .mobileMenu {
    display: flex;
  }
}
