.menu {
  width: 100%;
  height: 60px;
  background: #00071c;
  position: sticky;
  top: -1px;
  z-index: 10;
}
.menuItems {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.menu a {
  color: #f6f6f6;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.mobileMenu {
  display: none;
  width: 90%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 880px) {
  .menuItems {
    width: 90%;
  }
  .menu a {
    font-size: 14px;
  }
}
@media screen and (max-width: 680px) {
  .menu {
    height: 50px;
  }
  .menuItems {
    width: 95%;
  }
  .menu a {
    font-size: 13px;
  }
}
@media screen and (max-width: 635px) {
  .menuItems {
    display: none;
  }
  .mobileMenu {
    display: flex;
  }
}
