.SavingsContainer {
  width: 184px;
  height: 212px;
  border-radius: 10px;
  background-color: #001655;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}

.numberSavings {
  margin-left: 110px;
  width: 18px;
  height: 18px;
  border: none;
  margin-top: 4px;
  border-radius: 100px;
  background-color: #0241fe;
  font-size: 10px;
  line-height: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 1px;
}
.textSavings {
  width: 140px;
  border: solid #001655;
}

.textSavings h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f6f6f6;
}

.textSavings p {
  margin-top: 3px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #bfbfbf;
}

@media screen and (max-width: 768px) {
  .SavingsContainer {
    width: 160px;
    height: 180px;
  }

  .SavingsContainer .SavingsImages {
    width: 122px;
  }

  .SavingsContainer .SavingsImages img {
    width: 34px;
  }

  .SavingsContainer .textSavings {
    width: 127px;
  }

  .textSavings h1 {
    font-size: 14px;
  }
  .textSavings p {
    font-size: 9px;
  }
}

@media screen and (max-width: 480px) {
  .SavingsContainer {
    width: 140px;
  }

  .numberSavings {
    position: absolute;
    margin-left: 90px;
  }

  .textSavings h1 {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
  }
  .textSavings p {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
}
