.container {
  margin-top: 200px;
  padding-left: 130px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.info {
  width: 30%;
  color: #00071c;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info > h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.info > h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #6d6d6d;
}
.info > h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.dots {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.dots > div {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  border: solid 1px #0132c6;
}

.cards {
  width: 100%;
  border: solid 2px lime;
}
