.container {
  width: 49%;
  height: 170px;
  border: #666666 solid 1px;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container p {
  width: 540px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
}

.container img {
  width: 23%;
  height: 45%;
}

@media screen and (max-width: 1600px) {
  .container {
    height: 140px;
  }
  .container img {
    width: 28%;
    height: 43%;
  }
  .container p {
    width: 470px;
    line-height: 24px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1441px) {
  .container img {
    width: 30%;
    height: 42%;
  }
  .container p {
    width: 450px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1367px) {
  .container {
    height: 150px;
  }
  .container img {
    width: 30%;
    height: 45%;
  }
  .container p {
    width: 600px;
    line-height: 22px;
    font-size: 17px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 125px;
  }
  .container p {
    width: 500px;
    font-size: 14px;
  }
  .container img {
    height: 40%;
  }
}

@media screen and (max-width: 1020px) {
  .container {
    height: 110px;
  }
  .container p {
    width: 350px;
    font-size: 10px;
    line-height: 18px;
  }
  .container img {
    width: 30%;
    height: 40%;
  }
}
