.container {
  width: 100%;
  padding: 80px 115px 80px 115px;
  border: 1px solid #000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}
.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 10px;
}
@media screen and (max-width: 1580px) {
  .container {
    padding: 60px 90px 60px 90px;
  }
}
@media screen and (max-width: 1400px) {
  .title {
    font-size: 26px;
    line-height: 30px;
  }
  .description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    padding: 45px;
  }
}
@media screen and (max-width: 490px) {
  .container {
    padding: 25px;
  }
  .title {
    font-size: 24px;
    line-height: 30px;
  }
  .description {
    line-height: 26px;
  }
}
