.landingDiv {
  height: 395px;
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.videoContainer {
  width: 582px;
  height: 100%;
  background: black;
  border-radius: 30px;
}

.player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  opacity: 0.7;
}

.player:hover {
  opacity: 1;
}

.texts {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.texts > h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #000e39;
  text-decoration-skip-ink: none;
}

.texts > p {
  font-weight: 400;
  line-height: 24px;
}

.texts > button {
  width: 196px;
  height: 32px;
  padding: 4px 30px 4px 30px;
  border: none;
  background: #012baa;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 1220px) {
  .landingDiv {
    justify-content: space-around;
  }
  .videoContainer {
    width: 440px;
    height: 300px;
  }
  .texts {
    width: 45%;
  }
  .texts > h1 {
    font-size: 32px;
    line-height: 35px;
  }
  .texts > p {
    font-size: 17px;
    line-height: 22px;
  }
}
@media screen and (max-width: 980px) {
  .landingDiv {
    height: auto;
    flex-direction: column;
  }
  .videoContainer {
    width: 85%;
    border-radius: 10px;
  }
  .player {
    border-radius: 10px;
  }
  .texts {
    width: 80%;
    text-align: center;
    margin-top: 50px;
    align-items: center;
  }
  .texts > h1 {
    font-size: 38px;
    line-height: 40px;
  }
  .texts > p {
    font-size: 20px;
    line-height: 24px;
    margin-top: 25px;
  }
  .texts > button {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  .videoContainer {
    width: 300px;
    height: 311px;
  }
  .texts {
    width: 90%;
  }
  .texts > h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .texts > p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
  }
  .texts > button {
    width: 141px;
    height: 32px;
    font-size: 10px;
    padding: 0;
    margin-top: 15px;
  }
}
@media screen and (max-width: 318px) {
  .landingDiv {
    transform: scale(0.825);
    margin-top: 30px;
  }
  .texts {
    width: 100%;
  }
}
