.card {
  width: 192px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #00071c;
}
.card h1 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 15px;
}
.card p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
@media screen and (max-width: 820px) {
  .card {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 720px) {
  .card {
    transform: scale(1);
    height: 30%;
  }
  .card h1 {
    font-size: 16px;
    margin-top: 10px;
  }
  .card p {
    font-size: 12px;
    margin-top: 5px;
  }
  .card > img {
    width: 40px;
  }
}
@media screen and (max-width: 460px) {
  .card {
    width: 90%;
    margin: auto;
    flex-direction: row;
    text-align: left;
  }
  .card h1 {
    font-size: 22px;
  }
  .card p {
    font-size: 14px;
  }
  .card > div {
    width: 95%;
    margin-left: 5%;
  }
  .card > img {
    width: 65px;
    margin-left: 5%;
  }
}
@media screen and (max-width: 305px) {
  .card > img {
    width: 45px;
  }
  .card h1 {
    font-size: 18px;
  }
  .card p {
    font-size: 12px;
  }
}
