.item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.border {
  width: 100%;
  height: 1px;
  background: #8b8b8b;
  margin-top: 20px;
}
.item > div {
  display: flex;
  align-items: center;
  gap: 40px;
}
.item h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #7c8eff;
}
.dropdown {
  width: 96%;
  padding-left: 60px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transform: scale(0.5);
  animation: fadeIn 1 1s forwards;
}
@keyframes fadeIn {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.list > h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.ul {
  margin-top: 15px;
}

@media screen and (max-width: 1400px) {
  .item > div {
    gap: 20px;
  }
  .dropdown {
    padding-left: 35px;
    padding-top: 20px;
  }
  .description {
    font-size: 14px;
    line-height: 22px;
  }
  .list > h1 {
    font-size: 16px;
  }
}
