.Container {
  width: 100%;
  height: 100vh;
  height: calc(100vh - 60px);
  background-color: #000e39;
  display: flex;
  flex-direction: column;
  position: sticky;
  left: 0;
  top: 0;
}

.Container .firstContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #000e39;
}

.firstContainer .firstChildContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.firstRightSideContainer {
  width: 45%;
}

.firstRightSideContainer .professions {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: solid #000e39;
}

.firstRightSideContainer .professions div {
  position: absolute;
  width: 230px;
  height: 125px;
  border: 1px solid white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.professions .ArowwImagesContainer {
  border: #9df49b solid 1px;
  width: 38px;
  height: 38px;

  margin-top: 1px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(30deg);
}

.ArowwImagesContainer img {
  position: absolute;
  transform: rotate(-30deg);
}
.ArowwImagesContainer:hover {
  background: linear-gradient(to right, blue, aquaMarine);
  border: none;
}

@media screen and (max-width: 1024px) {
  .firstRightSideContainer .professions div {
    width: 230px;
  }
}

@media screen and (max-width: 1020px) {
  .firstChildContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .firstRightSideContainer {
    margin-top: 100px;
    width: 600px;
    height: 450px;
  }

  .firstRightSideContainer .ArowwImagesContainer {
    display: none;
  }

  .firstRightSideContainer .professions div {
    width: 300px;
    height: 155px;
  }
}

@media screen and (max-width: 620px) {
  .firstRightSideContainer {
    width: 400px;
  }

  .firstRightSideContainer .professions div {
    width: 210px;
  }
}

@media screen and (max-width: 480px) {
  .Container .firstContainer {
    height: 100%;
  }
  .firstRightSideContainer {
    width: 300px;
    height: 310px;
    margin-top: 40px;
  }

  .firstRightSideContainer .professions div {
    width: 160px;
    height: 93.05px;
  }
}

@media screen and (max-width: 380px) {
  .Container {
    top: 40px;
  }
  .firstContainer {
    border: solid white;
  }
}
