.container {
  width: 279px;
  height: 340px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 3px;
  padding-top: 30px;
  box-shadow: 0px 0px 10px gray;
}
.circle {
  width: 172px;
  height: 172px;
  border-radius: 100%;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > h1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.infoButton {
  width: 46px;
  height: 46px;
  background: #0132c6;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 23px;
  opacity: 0.3;
}
.active {
  opacity: 1;
  cursor: pointer;
}
