.container {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 20px;
}
.footer p,
a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-weight: lighter;
}

.footer h4,
h5 {
  color: #fff;
}

.footer {
  width: 100%;
  height: 100%;
  background: #00071c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px 0px 200px;
}

.firstContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.firstContainer h4 {
  font-size: 28px;
  line-height: 34px;
}

.firstContainer span {
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.34px;
}

.firstContainer img {
  width: 70px;
  height: 65px;
  margin-left: -10px;
}

.secondContainer {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.secondContainer div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.secondContainer h5 {
  font-size: 18px;
}

.secondContainer p {
  display: flex;
  gap: 10px;
}

.textContainer a {
  margin-top: 5px;
  position: relative;
  top: 5px;
}

.contactsContainer h5 {
  font-weight: 700;
}

.contactsContainer p {
  margin-top: 7px;
  position: relative;
  top: 5px;
}

.contactsContainer .cartaSvg {
  margin-left: 2.5px;
}

.socialContainer h5 {
  font-size: 18px;
  line-height: 21px;
  font-weight: lighter;
}

.socialContactsContainer {
  width: 104px;
  flex-direction: row !important;
  justify-content: space-between;
  margin-top: 15px;
}

.socialContactsContainer img {
  width: 17px;
}

@media screen and (max-width: 1300px) {
  .footer {
    padding: 0px 100px 0px 100px;
  }
}
@media screen and (max-width: 1060px) {
  .container {
    height: 230px;
  }
  .footer {
    padding: 0px 50px 0px 50px;
  }
  .footer p,
  a {
    font-size: 12px;
  }
  .firstContainer h4 {
    font-size: 24px;
    line-height: 30px;
  }

  .firstContainer span {
    font-size: 12px;
    line-height: 15px;
  }
  .secondContainer h5 {
    font-size: 16px;
  }
  .contactsContainer p {
    margin-top: 4px;
  }
  .textContainer a {
    margin-top: 3px;
  }
}

@media screen and (max-width: 880px) {
  .container {
    height: 210px;
  }
  .footer {
    padding: 25px;
  }
}
@media screen and (max-width: 780px) {
  .container {
    display: none;
  }
}
