.Container {
  width: 100%;
  height: calc(100vh - 60px);
  background: #000e39;
  position: sticky;
  top: 60px;
  left: 0;
  z-index: 2;
}

.Container .SecondContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SecondContainer .SecondChildContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.SecondRightSideContainer {
  margin-right: 110px;
}

.SecondRightSideContainer .MarketingsContainer {
  height: 444px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.MarketingsContainer .saving {
  width: 140px;
  height: 212px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.savingCircleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.savingCircleContainer img {
  position: absolute;
}

.savingCircleContainer .prcent {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.savingCircleContainer .CircleSaving {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
}

.CircleText {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 1290px) {
  .SecondRightSideContainer {
    margin-right: 0px;
  }
}

@media screen and (max-width: 980px) {
  .SecondRightSideContainer .MarketingsContainer {
    gap: 10px;
    justify-content: start;
  }
}

@media screen and (max-width: 768px) {
  .SecondChildContainer {
    flex-direction: column;
    align-items: center;
    height: 95%;
  }

  .SecondRightSideContainer .MarketingsContainer {
    height: 375px;
  }

  .MarketingsContainer .saving {
    border: solid #000e39;
    height: 180px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .SecondRightSideContainer {
    margin-left: -10px;
  }
  .MarketingsContainer {
  }
  .MarketingsContainer .saving {
    justify-content: space-around;
  }
  .MarketingsContainer .saving img {
    width: 100px;
  }

  .CircleText {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
  }
}
