.subtitle {
  font-size: 64px;
  font-weight: 700;
  line-height: 55px;
  padding: 0px 80px 0px 80px;
}
@media screen and (max-width: 1680px) {
  .subtitle {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 30px;
    line-height: 38px;
  }
}

@media screen and (max-width: 480px) {
  .subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding: 0;
  }
}
