.firstLeftSideContainer {
  width: 37%;
  margin-left: 85px;
  border: solid #000e39;
}

.firstLeftSideContainer h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #f6f6f6;
}

.firstLeftSideContainer button {
  width: 172px;
  height: 32px;
  margin-top: 30px;
  border-radius: 100px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #f6f6f6;
  border: none;
  background: #0132c6;
}

.firstLeftSideContainer button:hover {
  background: linear-gradient(to left, #9df79b, #0023fe);
}

.firstLeftSideContainer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #f6f6f6;
  margin-top: 25px;
}

.choices {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 16px;
  height: 79px;
  border: solid #000e39 1px;
}
.reverse {
  flex-direction: column-reverse;
}
.choices div {
  width: 100%;
  border-radius: 100px;
  height: 15px;
}

.selectPages1 {
  border: solid #6d6d6d 1px;
}

.selectPages2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #9df49b 1px;
}

.selectPages2 div {
  width: 50%;
  height: 50.8%;
  margin-top: 0.2px;
  background-color: #9df49b;
  border: solid #9df49b 1px;
  border-radius: 100px;
}

@media screen and (max-width: 1290px) {
  .firstLeftSideContainer {
    margin-left: 0px;
  }

  .firstLeftSideContainer h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 980px) {
  .firstLeftSideContainer p {
    font-size: 17px;
  }

  .firstLeftSideContainer h1 {
    font-size: 35px;
  }

  .firstLeftSideContainer button {
    font-size: 11px;
  }
  .firstLeftSideContainer .choices {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .firstLeftSideContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .firstLeftSideContainer h1 {
    font-size: 40px;
  }

  .firstLeftSideContainer p {
    font-size: 20px;
  }

  .firstLeftSideContainer button {
    width: 220px;
    height: 5vh;
    font-size: 12px;
  }

  .firstLeftSideContainer .choices {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .firstLeftSideContainer p {
    font-size: 16px;
  }
  .firstLeftSideContainer h1 {
    font-size: 33px;
  }
}

@media screen and (max-width: 480px) {
  .firstLeftSideContainer {
    width: 274px;
  }

  .firstLeftSideContainer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 15px;
  }

  .firstLeftSideContainer h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  .firstLeftSideContainer button {
    width: 172px;
    height: 32px;
    background: linear-gradient(to left, #0132c6, #9747ff, #fa550c);
    margin-top: 20px;
  }
}
