.dates {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}
.learningContainer {
  width: 70%;
  margin: auto;
  margin-top: 200px;
}
.registerInfoCard {
  margin-top: 200px;
}

.learningOutcome {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.students {
  margin-top: 150px;
}
.coursesSliderContainer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.coursesSliderContainer > p {
  width: 60%;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #898989;
  margin-top: -10px;
}
.footer {
  margin-top: 150px;
}
@media screen and (max-width: 1600px) {
  .dates {
    margin-top: 80px;
  }
  .learningContainer {
    width: 80%;
  }
}
@media screen and (max-width: 1400px) {
  .learningContainer {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .coursesSliderContainer > p {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .dates {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    gap: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: column;
  }
  .learningOutcome {
    margin-top: 100px;
  }
  .learningContainer {
    margin-top: 50px;
  }
  .coursesSliderContainer {
    margin-top: 70px;
  }
  .coursesSliderContainer > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .footer {
    margin-top: 100px;
  }
}
