.dates {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}
.learningContainer {
  margin-top: 200px;
}
.registerInfoCard {
  margin-top: 200px;
}

.LearningOutcome {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1600px) {
  .dates {
    margin-top: 80px;
  }
}
