.ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ul li {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  list-style: none;
  position: relative;
  padding-left: 40px;
}
.ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #b9b9b9;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
}

@media screen and (max-width: 1400px) {
  .ul li {
    font-size: 14px;
  }
}
