.container {
  width: 100%;
  height: 100vh;
  background-color: #000e39;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.data {
  margin-left: 130px;
  width: 479px;
  height: 510px;
  display: flex;
  flex-direction: column;
}

.data h2 {
  width: 436px;
  height: 100px;
  top: 151px;
  left: 131px;
  font-size: 38px;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
}

.data h2 span {
  color: #9df49b;
}

.form {
  margin-top: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.form button {
  width: 200px;
  height: 32px;
  margin-top: 8%;
  border-radius: 30px;
  border: 1px white solid;
  background-color: #000e39;
  color: white;
}

@media screen and (max-width: 1024px) {
  .container {
    height: 100vh;
  }
  .form {
    justify-content: space-evenly;
    gap: 14px;
  }

  .form button {
    height: 35px;
  }
  .form input {
    height: 55px;
    width: 330px;
  }

  .data {
    margin-left: 80px;
    width: 400px;
  }

  .data h2 {
    width: 100%;
    font-size: 34px;
  }

  .img-container img {
    width: 240px;
  }

  .img-container {
    margin-top: 200px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 100vh;
    margin-top: 50px;
  }
  .data {
    justify-content: space-around;
    width: 350px;
    margin-left: 40px;
  }

  .data h2 {
    font-size: 30px;
  }
  .form {
    gap: 0px;
    margin-top: 20px;
  }

  .form button {
    width: 180px;
  }

  .img-container img {
    width: 200px;
  }

  .form input {
    width: 290px;
  }
}

@media screen and (max-width: 620px) {
  .container {
    height: 100vh;
  }
  .data {
    width: 270px;
    margin-left: 23px;
    height: 450px;
  }
  .data h2 {
    font-size: 25px;
    line-height: 38px;
  }

  .form {
    margin-top: 2px;
  }

  .form input {
    width: 260px;
    height: 42px;
  }

  .form button {
    width: 160px;
    height: 30px;
  }

  .img-container {
  }
  .img-container img {
    width: 170px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 490px) {
  .data {
    margin-left: 17px;
    height: 360px;
    margin-top: -200px;
  }

  .form {
    margin-top: 20px;
    gap: 20px;
  }

  .form input {
    width: 234px;
    height: 38px;
    border-radius: 5px;
  }

  .form button {
    width: 140px;
    height: 28px;
    font-size: 13.5px;
  }

  .data h2 {
    font-size: 23px;
  }

  .img-container {
    margin-left: -350px;
    margin-top: 340px;
  }
  .img-container img {
    width: 150px;
  }
}

@media screen and (max-width: 320px) {
  .data {
    width: 220px;
    height: 340px;
    margin-top: -250px;
  }

  .data h2 {
    font-size: 18px;
  }

  .form input {
    width: 205px;
    height: 33px;
  }

  .form button {
    width: 110px;
    height: 22px;
  }
  .img-container {
    margin-top: 250px;
  }

  .img-container img {
    width: 120px;
  }
}
