.container {
  margin-top: 100px;
}

.container > div {
  width: 80%;
  margin: auto;
}

.container h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
  color: #000e39;
  text-transform: uppercase;
}

.container p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 10px;
  color: #000e39;
}

.cards {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.container button {
  width: 212px;
  height: 45px;
  border-radius: 30px;
  border: none;
  background: #012baa;
  color: white;
  margin-top: 50px;
  margin-left: calc(100% - 212px);
  font-size: 12px;
  font-weight: 700;
}

@media screen and (max-width: 1450px) {
  .container > div {
    width: 95%;
  }
}
@media screen and (max-width: 1260px) {
  .container > div {
    width: 75%;
  }
  .container p {
    font-size: 22px;
  }
}
@media screen and (max-width: 910px) {
  .container > div {
    width: 90%;
  }
  .container h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 760px) {
  .container button {
    margin-left: 5%;
  }
  .container p {
    font-size: 16px;
  }
  .container > div > p {
    margin-left: 5%;
  }
  .container h1 {
    margin-left: 5%;
  }
}
@media screen and (max-width: 450px) {
  .container h1 {
    font-size: 25px;
    line-height: 40px;
  }
  .container > div > p {
    margin-top: 0px;
    font-size: 14px;
    line-height: 22px;
  }
  .container button {
    height: 34px;
    font-size: 12px;
    margin-left: 2.5%;
  }
  .cards {
    margin-top: 30px;
  }
}

@media screen and (max-width: 350px) {
  .container h1 {
    font-size: 26px;
    line-height: 32px;
    margin-left: 0;
  }
  .container > div > p {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
  }
  .cards {
    margin-left: -2.5%;
  }
}
