.container {
  height: 480px;
  border: solid #525252 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.textCont h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
}
.textCont p {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #6d6d6d;
}

.childContainer {
  max-width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.textCont {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: start;
  position: relative;
  top: -10px;
  z-index: 3;
}
.textCont a {
  font-size: 16px;
  font-weight: 700;
  color: white;
}
@media screen and (min-width: 1790px) and (max-width: 2600px) {
  .container {
    height: 600px;
  }
}

@media screen and (max-width: 1290px) {
  .container {
    height: 430px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 370px;
  }
  .textCont h2 {
    font-size: 22px;
    line-height: 27px;
  }
  .textCont p {
    font-size: 12px;
    line-height: 18px;
  }
  .textCont a {
    font-size: 14px;
  }
}

@media screen and (max-width: 870px) {
  .container {
    height: 300px;
  }
  .textCont h2 {
    font-size: 18px;
  }
  .textCont p {
    font-size: 11px;
    line-height: 15px;
  }
  .textCont a {
    font-size: 12px;
  }
}
