* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: 100ms;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  max-width: 2800px;
  margin: 0 auto;
  background: #f6f6f6;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.runnerTextSlider {
  height: 42px;
  transform: rotateZ(6deg);
  background: #9cf49b4a;
}
.runnerTextSlider .item > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #8ad388;
  font-size: 24px;
  font-weight: 400;
}
.feedbacksSlider {
  width: 125%;
  height: 350px;
  position: relative;
  left: -12.5%;
}
.feedbacksSlider .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .feedbacksSlider {
    width: 200%;
    left: -50%;
  }
}
@media screen and (max-width: 500px) {
  .feedbacksSlider {
    width: 240%;
    left: -70%;
  }
}
@media screen and (max-width: 350px) {
  .feedbacksSlider {
    width: 260%;
    left: -80%;
  }
}
@media screen and (max-width: 305px) {
  .feedbacksSlider {
    width: 300%;
    left: -100%;
  }
}
