.container {
  padding-top: 150px;
}
.nav {
  width: 25%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.nav > h1 {
  width: 85%;
  font-size: 31px;
  font-weight: 700;
}
.paths {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 40px;
}
.paths > div {
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  color: #a4a4a4;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.main {
  width: 75%;
  margin-left: 25%;
}

@media screen and (max-width: 1680px) {
  .nav > h1 {
    font-size: 27px;
  }
  .paths > div {
    font-size: 19px;
  }
}

@media screen and (max-width: 1500px) {
  .nav > h1 {
    width: 90%;
    font-size: 24px;
  }
  .paths {
    width: 90%;
  }
  .paths > div {
    font-size: 16px;
  }
}
