.container {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-position-y: -10px;
  padding: 150px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.container > h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 34px;
}
.container > p {
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
}
.container > a {
  width: 475px;
  min-height: 68px;
  border-radius: 10px;
  background: #000;
  color: white;
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1680px) {
  .container {
    gap: 25px;
  }
  .container > h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .container > p {
    font-size: 28px;
    line-height: 32px;
  }
  .container > a {
    width: 320px;
    min-height: 45px;
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    height: 40vh;
    padding: 100px 40px 50px 40px;
    gap: 15px;
  }
  .container > h1 {
    font-size: 30px;
  }
  .container > p {
    font-size: 22px;
  }
  .container > a {
    width: 270px;
    min-height: 40px;
    font-size: 13px;
  }
}
