.container {
  width: 70%;
}
.container > h1{
  padding: 0;
}
.check {
  margin-top: 6%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.check div:nth-child(3),
.check div:nth-child(4) {
  margin-top: 2%;
}

@media screen and (max-width: 1460px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 1370px) {
  .container {
    width: 90%;
  }
}
