.container {
  min-height: 200vh;
  background: #000;
  color: #fff;
}
.team {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.team * {
  transition: 1s;
}
.team > h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  position: relative;
  top: 16%;
  opacity: 0;
}
.team > img {
  width: 90%;
  z-index: 3;
}

.shadow {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 100px;
  background: linear-gradient(to right, #0319e3, #0319e32a, #0319e3);
  filter: blur(80px);
  z-index: 4;
  opacity: 0;
}

.team:hover > img {
  width: 98%;
}
.team:hover > h1 {
  opacity: 1;
  top: 19%;
}
.team:hover > .shadow {
  height: 150px;
  opacity: 1;
}

.infoContainer {
  position: relative;
  top: 100px;
}
